<div id="<%= dom_id sport %>">
  <p>
    <strong>Name:</strong>
    <%= sport.name %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= sport.course %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= sport.gender %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= sport.age %>
  </p>

</div>
