<p style="color: green"><%= notice %></p>

<%= render @sport %>

<div>
  <%= link_to "Edit this sport", edit_sport_path(@sport) %> |
  <%= link_to "Back to sports", sports_path %>

  <%= button_to "Destroy this sport", @sport, method: :delete %>
</div>
